.section-1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
}

.section-1-1{
  width: 100%;
}

.section-1-1 img{
  width: 100%;
  height: 750px;
}

.section-1-2{
  width: 100%;
}

.section-1-2 h1{
  margin-bottom: 20px;
  color: #142861;
  font-family: 'Playpen Sans', cursive;
}

.section-1-2 p{
  margin-bottom: 30px;
  color: gray;
  font-family: 'Lato', sans-serif;
}

.section-1-2 a{
  border-radius: 5px;
  padding: 7px;
  border: solid 2px gray;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-family: 'Playpen Sans', cursive;
}

.section-1-2 a:hover{
  border: solid 2px #142861;
  color: #142861;
  font-weight: bold;
}

span{
  font-weight: bold;
  color: #142861;
}

.section-2{
  background-color: #142861;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.conta-1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: white;
  font-family: 'Playpen Sans', cursive;
}

.conta-2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.inicio1{
  transition: box-shadow 0.3s ease-in-out;
  height: 350px;
  width: 400px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}

.inicio1 h4{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #142861;
  padding: 30px 10px 5px;
  font-family: 'Playpen Sans', cursive;
}

.inicio1 p{
  font-size: 20px;
  padding: 5px 30px 20px;
  color: gray;
  font-family: 'Lato', sans-serif;
}

.section-a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-a a{
  border-radius: 5px;
  padding: 7px;
  border: solid 2px gray;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-family: 'Playpen Sans', cursive;
}

.section-a a:hover{
  border: solid 2px #142861;
  color: #142861;
  font-weight: bold;
}

.inicio2{
  transition: box-shadow 0.3s ease-in-out;
  height: 350px;
  width: 400px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}

.inicio2 h4{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #142861;
  padding: 30px 10px 5px;
  font-family: 'Playpen Sans', cursive;
}

.inicio2 p{
  font-size: 20px;
  padding: 5px 30px 20px;
  color: gray;
  font-family: 'Lato', sans-serif;
}

footer{
  padding: 15px;
  background-color: #2d68c8;
  text-align: center;
  font-weight: bold;
  font-family: 'Playpen Sans', cursive;
}