<body>
  <header>
      <img src="assets/images/logo.png" alt="">
      <nav>
          <a routerLink="/">Inicio</a>
          <a routerLink="/crear-aprendiz">Registrar
          </a>
          <a routerLink="/login">Inicia Sesión</a>
      </nav>
  </header>

  <div class="section-1">
      <div class="section-1-1">
          <img src="assets/images/contacto1.jpg" alt="">
      </div>
      <div class="section-1-2">
          <h1>Medycal System Project:</h1>
          <p>Medycal System Project (MSP), es un software o aplicatico diseñado para el control de datos personales de
              los usuarios, es decir, este aplicativo manejará de forma segura los datos de las personas relacionados
              con su salud. <span>Por ejemplo: </span>Si una persona padece enfermedades, problemas de salud,
              medicamentos que consume, hace cuánto consume medicamentos, EPS, acudiente, celular del acudiente y
              muchas más.</p>
          <p>Estaremos al pendiente de cualquier novedad, circunstancia o caso de salud. Así como cuidamos de nosotros
              mismos, debemos cuidar de ti.</p>
          <h1>Te explicamos nuestra funcionalidad:</h1>
          <p>Si sigues explorando nuestro software, encontrarás en la parte inferior dos tarjetas las cuales son:
              <span>Registrar - Inicia Sesión. </span>La opción de Registrar, es para los usuarios que van a hacer
              parte de nuestro sistema, personas que deseen un excelente control de salud y un excelente cuidado por
              parte de nuestro personal. La opción de Inicia Sesión, es para los administradores los cuales podrán
              llevar el control de los usuarios ya registrados. Cabe recalcar que el tratamiento de los datos
              personales es completamente confidencial y seguro.</p>
          <a href="#section-2">Explora Más</a>
      </div>
  </div>

  <div class="section-2" id="section-2">
      <div class="conta-1">
          <h1>Registrate para brindarte todo nuestro apoyo en salud:</h1>
      </div>
      <div class="conta-2">
          <div class="inicio1">
              <h4>Registrate</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit dignissimos beatae est
                  impedit vitae? Doloremque eaque voluptatem, magni reprehenderit eligendi nisi sed placeat quasi
                  consectetur delectus facilis earum similique deleniti!</p>
              <div class="section-a">
                  <a routerLink="/crear-aprendiz">Registrate</a>
              </div>
          </div>
          <div class="inicio2">
              <h4>Inicia Sesión</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit dignissimos beatae est
                  impedit vitae? Doloremque eaque voluptatem, magni reprehenderit eligendi nisi sed placeat quasi
                  consectetur delectus facilis earum similique deleniti!</p>
              <div class="section-a">
                  <a routerLink="/login">Inicia Sesión</a>
              </div>
          </div>
      </div>
  </div>

  <footer class="fooinicio">
      <p>&copy; Msp Project - 2023 - Adso.</p>
  </footer>

</body>