<body>
  <header>
    <img src="assets/images/logo.png" alt="">
    <nav>
      <a routerLink="/">Inicio</a>
      <a routerLink="/crear-aprendiz">Registrate</a>
      <a routerLink="/login">Inicio Sesión</a>
    </nav>
  </header>

  <div class="home-h2">
    <h2>Inicio</h2>
  </div>

  <div class="section-1">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa consequuntur, autem voluptate consectetur nihil officia ducimus. Velit nobis aliquam officia delectus quam ipsa iusto assumenda sequi ullam? Magni, alias non.</p>
  </div>

  <div class="section-2">
    <div class="inicio1">
      <h4>Registrate</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit dignissimos beatae est impedit vitae? Doloremque eaque voluptatem, magni reprehenderit eligendi nisi sed placeat quasi consectetur delectus facilis earum similique deleniti!</p>
      <div class="section-a">
        <a routerLink="/crear-aprendiz">Registrate</a>
      </div>
    </div>
    <div class="inicio2">
      <h4>Inicia Sesión</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit dignissimos beatae est impedit vitae? Doloremque eaque voluptatem, magni reprehenderit eligendi nisi sed placeat quasi consectetur delectus facilis earum similique deleniti!</p>
      <div class="section-a">
        <a routerLink="/login">Inicia Sesión</a>
      </div>
    </div>
  </div>

  <footer class="fooinicio">
    <p>&copy; Msp Project - 2023 - Adso.</p>
  </footer>

</body>
