*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #2d68c8;
  font-family: 'Bebas Neue', sans-serif;
}

header img{
  width: 100px;
  height: 100px;
}

header nav{
  display: flex;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 15px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}

nav a:hover{
  color: white;
  text-decoration: none;
}