*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #2d68c8;
  font-family: 'Playpen Sans', cursive;
}

header img{
  width: 75px;
  height: 75px;
}

header nav{
  display: flex;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 15px;
  transition: all 0.3s ease-in-out;
}

nav a:hover{
  color: #142861;
  text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}