<body>
  <header>
    <img src="assets/images/logo.png" alt="">
    <nav>
      <a routerLink="/">Inicio</a>
      <a routerLink="/crear-aprendiz">Registrate</a>
      <ng-container *ngIf="estaAutenticado(); else inicioSesion">
        <!-- Mostrar el enlace "Cerrar Sesión" cuando el usuario ha iniciado sesión -->
        <a (click)="cerrarSesion()">Cerrar Sesión</a>
      </ng-container>
      <ng-template #inicioSesion>
        <!-- Mostrar el enlace "Inicio Sesión" cuando el usuario no ha iniciado sesión -->
        <a routerLink="/login">Inicio Sesión</a>
      </ng-template>
    </nav>
  </header>

  <div class="body">
    <div class="database">
      <div class="container-data">
        <div class="search">
          <input type="search" [(ngModel)]="busqueda" placeholder="Buscar...">
          <a (click)="filtrarYActualizar()">Buscar</a>
        </div>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Ficha</th>
                <th>Programa de Formación</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo de Identificación</th>
                <th>Identificación</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Fecha de Nacimiento</th>
                <th>Ciudad/Municipio</th>
                <th>Dirección</th>
                <th>Sexo</th>
                <th *ngIf="showAllFields">EPS</th>
                <th *ngIf="showAllFields">Número de la EPS</th>
                <th *ngIf="showAllFields">Padecimientos</th>
                <th *ngIf="showAllFields">Medicamentos</th>
                <th *ngIf="showAllFields">Acudientes</th>
                <th *ngIf="showAllFields">Cedula acudiente</th>
                <th *ngIf="showAllFields">Número Acudiente</th>
                <th *ngIf="showAllFields">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aprendiz of aprendicesToLoad">
                <td>{{ aprendiz.ficha }}</td>
                <td>{{ aprendiz.pFormacion }}</td>
                <td>{{ aprendiz.nombre }}</td>
                <td>{{ aprendiz.apellido }}</td>
                <td>{{ aprendiz.tipoId }}</td>
                <td>{{ aprendiz.identificacion }}</td>
                <td>{{ aprendiz.email }}</td>
                <td>{{ aprendiz.telefono }}</td>
                <td>{{ aprendiz.fechaNacimiento }}</td>
                <td>{{ aprendiz.ciudad }}</td>
                <td>{{ aprendiz.direccion }}</td>
                <td>{{ aprendiz.sexo }}</td>
                <td *ngIf="showAllFields">{{ aprendiz.eps }}</td>
                <td *ngIf="showAllFields">{{ aprendiz.numeroEps }}</td>
                <td *ngIf="showAllFields">{{ aprendiz.padecimientos }}</td>
                <td *ngIf="showAllFields">{{ aprendiz.medicamentos }}</td>
                <td *ngIf="showAllFields">{{ aprendiz.acudiente }}</td>
                <td *ngIf="showAllFields">{{ aprendiz.acudienteId }}</td>
                <td *ngIf="showAllFields">{{ aprendiz.numAcudiente }}</td>
                <td>
                  <i class="fa-solid fa-pen-to-square" id="editar" (click)="editarAprendiz(aprendiz)"></i>
                  <i class="fa-solid fa-plus" id="detalles" (click)="toggleShowAllFields()"></i>
                  <i class="fa-solid fa-file-pdf" id="pdf" (click)="navigateToHistorial(aprendiz)"></i>
                  <i class="fa-solid fa-trash" id="eliminar" (click)="eliminarAprendiz(aprendiz)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <span>{{ currentPage }} de {{ ceil(totalItems / pageSize) }}</span>
          <select [(ngModel)]="pageSize" (change)="onPageSizeChange()">
            <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
          </select>          
          <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
          <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage * pageSize >= totalItems">Siguiente</button>
      </div>
    </div>
  </div>
  
  <div class="uso">
    <h4>¿Cómo Usar?</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit quibusdam mollitia error ratione quod molestias delectus atque, laborum reprehenderit ipsa vitae molestiae consectetur, praesentium omnis optio nesciunt illo dicta earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut tempore provident alias dolores. Dolores alias eum id ratione dicta! Cupiditate error consectetur itaque voluptatum facilis exercitationem praesentium explicabo iste saepe. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dignissimos labore sint aut, quia, sequi laborum suscipit reprehenderit aliquid corporis, tenetur tempore quidem mollitia maiores? Assumenda reiciendis vel delectus earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consequatur aperiam porro voluptate, saepe laudantium, maxime perferendis error eos cumque provident. Necessitatibus eligendi, fugit tempore quod maiores repellendus omnis qui.</p>
  </div>

  <footer>
    <p>&copy; Msp Project - 2023 - Adso.</p>
  </footer>

</body>