<body>
    <header>
        <img src="/assets/images/logo.png" alt="">
        <nav>
            <a routerLink="/">Inicio</a>
            <a routerLink="/crear-aprendiz">Registrar</a>
            <a routerLink="/login">Inicia Sesión</a>
        </nav>
    </header>

    <div class="general">
        <div class="noform">
            <h1>Contáctate con Nosotros</h1>
            <hr>
            <p>A continuación, encontrarás unos botones en los cuales podrás comunicarte con nosotros por medios
                especificos, allí podrás preguntar sobre las dudas e inquietudes que tengas referente a nuestro
                software. También podrás comunicarte con nosotros para conocera más acerda de <span>Msp Project</span>,
                se claro con todas las necesidades tuyas y espera pacientemente una respuesta pronta; responderemos lo
                más rápido que se nos sea posible.</p>
            <div class="links">
                <a href="https://wa.link/yb2lmo" target="_blank"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
                <a href="https://www.facebook.com/Samuel.Carvajal13/" target="_blank"><i
                        class="fa-brands fa-facebook"></i> Facebook</a>
                <a href="https://www.instagram.com/sxmuel_c13/" target="_blank"><i class="fa-brands fa-instagram"></i>
                    Instagram</a>
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJlLWdGljsssXmbjVZksgVVzCCcVsbtZsFZmnGhrbVLtJdNGPllRvBwvFPLCLsRBVVWFBsq"
                    target="_blank"><i class="fa-solid fa-envelope"></i> Correo E</a>
            </div>
        </div>
        <div class="form">
            <form (submit)="onSubmit()">
                <h1>Inicia Sesión con nosotros ahora</h1>
                <hr>
                <div>
                    <label for="username">Username:</label>
                    <input type="username" id="username" name="username" [(ngModel)]="UsernameOrEmail" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" [(ngModel)]="password" required>
                </div>
                <div *ngIf="isLoginBlocked" class="danger">
                    <p>Debes esperar {{ remainingTime }} segundos antes de volver a intentarlo.</p>
                    <a class="link" routerLink="/reset-password-request">¿Olvidaste la contraseña?</a>
                </div>
                <div class="button">
                    <button type="submit">Inicia Sesión</button>
                </div>
            </form>
        </div>
    </div>

    <h1 class="sec-2">Observa las enfermedades y virus más comunes:</h1>
    <section class="section-2">
        <div class="tarjeta">
            <img src="assets/images/somos1.jpg" alt="">
            <h2>Todo Tipo de Cáncer</h2>
            <p>El cáncer es una enfermedad caracterizada por el crecimiento descontrolado y anormal de células en el
                cuerpo. Estas células cancerosas pueden invadir tejidos y órganos circundantes, dañando su
                funcionamiento normal. El cáncer puede ocurrir en prácticamente cualquier parte del cuerpo y puede tener
                diversas causas, incluyendo factores genéticos, ambientales y de estilo de vida. A medida que las
                células cancerosas se multiplican y se propagan, pueden formar masas llamadas tumores. Es una enfermedad
                compleja que puede tener diferentes tipos y grados de gravedad</p>
        </div>

        <div class="tarjeta">
            <img src="assets/images/somos2.jpg" alt="">
            <h2>Transmisión Sexual</h2>
            <p>Las ETS, o Enfermedades de Transmisión Sexual, son infecciones que se transmiten de una persona a otra a
                través del contacto sexual. Estas infecciones pueden ser causadas por bacterias, virus u otros
                microorganismos y pueden afectar los órganos sexuales y reproductivos. Algunas ETS comunes incluyen la
                clamidia, la gonorrea, la sífilis, el herpes genital, el VIH/SIDA, el virus del papiloma humano (VPH) y
                la tricomoniasis, entre otras. Pueden tener una amplia variedad de síntomas o ser asintomáticas, lo que
                las hace a menudo difíciles de detectar sin pruebas médicas.</p>
        </div>

        <div class="tarjeta">
            <img src="assets/images/somos3.jpg" alt="">
            <h2>Autismo</h2>
            <p>El autismo, conocido también como Trastorno del Espectro Autista (TEA), es una condición neurológica que
                afecta el desarrollo social, de la comunicación y del comportamiento de una persona. Las personas con
                autismo pueden tener una amplia gama de características y habilidades, lo que es por eso que se denomina
                "espectro". Algunas de las características comunes del autismo incluyen dificultades en la interacción
                social, dificultades en la comunicación verbal y no verbal, patrones repetitivos de comportamiento e
                intereses, así como sensibilidades sensoriales.</p>
        </div>
    </section>

    <footer>
        <p>2023 &copy; Msp Project - Adso.</p>
    </footer>

</body>