.general{
  display: flex;
  justify-content: center;
}

.noform{
  width: 50%;
}

.noform img{
  margin-top: 50px;
}

.form{
  width: 50%;
  margin: 50px 0px 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form > h1{
  font-size: 25px;
  text-align: center;
  margin: 0px 20px 10px;
  color: #142861;
  font-family: 'Bebas Neue', sans-serif;
}

hr{
  border: solid 2px #142861;
  margin-bottom: 40px;
  border-radius: 5px;
}

form > div{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label{
  font-weight: bold;
  margin-bottom: 5px;
  color: #142861;
  font-family: 'Bebas Neue', sans-serif;
}

input, select, textarea{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #001248;
  font-family: 'Nunito', sans-serif;
}

input:focus{
  border: solid 2px #001248;
  outline: none;
}

select:focus{
  border: solid 2px #001248;
  outline: none;
}

textarea:focus{
  border: solid 2px #001248;
  outline: none;
}

textarea {
  height: 80px;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  border-radius: 5px;
  padding: 7px;
  border: solid 2px gray;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background-color: white;
  cursor: pointer;
  margin: 20px 20px 0px;
  font-family: 'Nunito', sans-serif;
}

button:hover{
  border: solid 2px #142861;
  color: #142861;
  font-weight: bold;
}

.text-danger{
  color: red;
  font-family: 'Bebas Neue', sans-serif;
} 

footer{
  padding: 15px;
  background-color: #2d68c8;
  text-align: center;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
}