.formulario{
  margin: 30px;
}

.titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo > h1{
  font-size: 25px;
  text-align: center;
  margin: 20px 20px 10px;
  color: #142861;
  font-family: 'Bebas Neue', sans-serif;
}

.titulo > hr{
  border: solid 2px #142861;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  width: 32.5%;
}

form > div{
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

label{
  font-weight: bold;
  margin-bottom: 5px;
  color: #142861;
  font-family: 'Bebas Neue', sans-serif;
}

input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #001248;
}

input:focus{
  border: solid 2px #001248;
  outline: none;
}

.alert-danger {
  margin-top: 10px;
  color: red;
  font-family: 'Bebas Neue', sans-serif;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  border-radius: 5px;
  padding: 7px;
  border: solid 2px gray;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background-color: white;
  cursor: pointer;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
}

button:hover{
  border: solid 2px #142861;
  color: #142861;
  font-weight: bold;
}

button[type="submit"]:disabled {
  background-color: white;
  cursor: not-allowed;
}

footer{
  padding: 15px;
  background-color: #2d68c8;
  text-align: center;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
}